[MESSAGES CONTROL]
disable=missing-module-docstring,
        missing-final-newline,
        trailing-whitespace,
        line-too-long,
        import-error, 
        missing-class-docstring,
        too-few-public-methods,
        too-many-instance-attributes,
        too-many-arguments,
        missing-function-docstring,
        invalid-name,
        super-with-arguments,
        too-many-locals,
        too-many-branches,
        consider-using-f-string,
        unused-argument,
        protected-access,
        redefined-builtin,
        too-many-nested-blocks,
        too-many-statements,
        unused-variable,
        redefined-outer-name,
        invalid-name